$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/"; 

@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';

* {
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Typography */
html {
    font-family:'Helvetica Neue', Helvetica;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

.action-view {
    padding:10px;
    background:#f1f2f3;
    height:100%;
    margin-bottom:20px;

    .btn-round {
        border-radius: 20px;
    }

    canvas {
        min-height:380px;
        height:100%;
        width:100%;
    }

    #loading {
        display:block;
    }
    #gallery {
        display:none;
        min-height:380px;
        width:100%;
        overflow:auto;
    }
    #selectphotosview {
        width:100%;
        height:100%;

        .photo-roll {
            margin-top: 40px;

            .photo-item {

                .thumbnail {
                    .img-selector {
                        padding-bottom: 5px;
                        padding-top: 3px;
                        color:#f1f2f3;
                        clear:both;
                    }
                    .img-selector.selected {
                        color:#428bca;
                        clear:both;
                    }   
                    img {
                        clear:both;
                    }
                }
            }
        }
    }
}

.float-menu-top {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    padding: 2px;

    button.btn-reset,
    button.btn-previewflip {
        margin-top: 3px;
        margin-bottom: 2px;
        margin-right: 5px;
        span {
            font-size: 18px;
            top:3px;
        }
    }

    button.btn-reset {
        margin-left: 5px;
        margin-right: 2px;
    }

    button.btn-previewflip {
        margin-right: 5px;
        label {
            font-size: 16px;
            padding-right: 10px;
            padding-left: 10px;
            line-height: 0.25em;
            color:#666666;
        }
    }
}

.selected-photos {

    ul {
        list-style: none;
        padding:5px;
        margin:0px;
        float:left;
        width:61%;
        height:40px;
        overflow: hidden;

        li {
            padding:2px;
            margin:2px;
            width:30px;
            height:30px;
            overflow: hidden;
            float:left;

            img {
                width:100%;
            }
        }
    }
}

.hide {
    display: none;
}
.no-hide {
    display: block;
}

#groupshare {
    display:none;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* custom styles built on top of bootstrap */
.glyphicon {
    font-size:24px;
}
.glyphicon-lg {
    font-size:200%; 
    line-height:150%;
}

.nav-bottom-fixed {
    width:100%;
    position: fixed;
    z-index: 9999;
    bottom:0px;
    left:0px;

    button.btn {
        border-radius: 0px;
    }
    button.btn-primary {
        border-color:none;
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

}

@media screen and (min-width: 1024px) {

       
}